# Ignore executables with no extension
*
!/**/
!*.*
!LICENSE

# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Stan files
build/
*.hpp

# old code
rundown/pymc_linear.py
rundown/pystan_linear.py
